### python Django ###
*.log
*.pot
*.pyc
__pycache__
.pytest_cache/
*.py[cod]
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
*.mo
sdist/
var/
*.prof
*.egg-info/
.installed.cfg
*$py.class
.env
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

### Idea###
*.sublime-project
*.sublime-workspace
.idea

*.TAG

db.sqlite3

**/env/**
.env/
**.env
*.pdf
.vscode/
ENV/
**/ENV/**
venv/
**/venv/**
**/venv**/**
### project ###
local.py
/static/
celerybeat-schedule
*.xlsx
**/.source
*.ipynb
.ipynb_checkpoints/
.dockerignore